<!DOCTYPE html"
<head>
<html>
<title></title>
<link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
<div id="logo" class="container">
       <h1><a href="/">JDM Cars</a></h1>
</div>

<div id="menu-wrapper">
        <div id="menu" class="container">
                <ul>  
                      <li><a href="/">Homepage</a></li>
                      <li class="current_page_item"><a href="/DC2/">DC2</a></li>
                      <li><a href="DC5">DC5</a></li>
                      <li><a href="Supra">Supra</a></li>
                      <li><a href="s13">S13</a></li>
                      <li><a href="s15">S15</a></li>
                      <li><a href="chaser">Chaser</a></li>
                </ul>
        </div>
</div>
<div id="page" class="container">
        <div id="box1">
         <h2 class="title"><a href="/">Honda Integra DC2 (year 96-00)</a></h2>
         <div style="clear: both;">&nbsp;</div>
         <div class="entry">
             <p>The<strong> Integra Type R DC2</strong> is an iconic japanese classic,
             known to be one of the best handling front wheel drive cars of all
             time. It weighs merely 1140kg, and has a 187bhp 1.8 VTEC engine,
             although the engine size and output seems relatively low, the car
             has a very impressive power to weight ratio.</p> 

             <p>Below you will see a picture of what the car looks like:</p> 
             </div>
             </div> 

<div id="dc2pics" >
  <img src="/static/img/DC2one.jpg"/>
  <img src="/static/img/DC2two.jpg"/>

<div id="footer" class="container">
<p>&copy; JDM Cars. All rights reserved. Design by Usman Ashraf - Matriculation
Number: 40096834. </p>
</div>
</body>
</html> 


        




