<!DOCTYPE html"
<head>
<html>
<title></title>
<link href="stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="logo" class="container">
       <h1><a href="index.html">JDM Carss</a></h1>
</div>

<div id="menu-wrapper">
        <div id="menu" class="container">
                <ul>  
                      <li class="current_page_item"><a href="index.html">Homepage</a></li>
                      <li><a href="DC2.html">DC2</a></li>
                      <li><a href="DC5.html">DC5</a></li>
                      <li><a href="Supra.html">Supra</a></li>
                      <li><a href="s13.html">S13</a></li>
                      <li><a href="s15.html">S15</a></li>
                      <li><a href="chaser.html">Chaser</a></li>
                </ul>
        </div>
</div>
<div id="page" class="container">
        <div id="box1">
         <h2 class="title"><a href="index.html">Welcome to JDM Cars</a></h2>
         <div style="clear: both;">&nbsp;</div>
         <div class="entry">
             <p>This is <strong>JDM Cars</strong>, a small web application
             which will run you through a small number of classic Japanese
             performance cars. These are true "drivers" cars, unlike the vast
             majority of modern day performance vehicles which are packed with
             features like traction control, anti-lock brakes etc, which will
             probably save your life if you are not a skilled driver, however
             wheres the fun in boring old driver aids?? I hope you enjoy the
             content within my web app. </p> 
             </div>
             </div> 

<div id="footer" class="container">
<p>&copy; JDM Cars. All rights reserved. Design by Usman Ashraf - Matriculation
Number: 40096834. </p>
</div>
</body>
</html> 


        




