<!DOCTYPE html"
<head>
<html>
<title></title>
<link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
<div id="logo" class="container">
       <h1><a href="/">JDM Cars</a></h1>
</div>

<div id="menu-wrapper">
        <div id="menu" class="container">
                <ul>  
                      <li><a href="/">Homepage</a></li>
                      <li><a href="{{ url_for('DC2') }}">DC2</a></li>
                      <li><a href="{{ url_for('DC5') }}">DC5</a></li>
                      <li><a href="{{ url_for('Supra') }}">SUPRA</a></li>
                      <li><a href="{{ url_for('S13') }}">S13</a></li>  
                      <li><a href="{{ url_for('S15') }}">S15</a></li>
                      <li><a href="{{ url_for('Chaser') }}">CHASER</a></li>
                      <li><a href="{{ url_for('Map') }}">MAP</a></li>
                </ul>
        </div>
</div>
<div id="page" class="container">
        <div id="box1">
         <h2 class="title"><a href="{{ url_for('MAP') }}">Japan on Google Maps</a></h2>
         <div style="clear: both;">&nbsp;</div>
         <div class="entry">
             <p></p> 
             </div>
             </div> 





<div id="footer" class="container">
<p>&copy; JDM Cars. All rights reserved. Design by Usman Ashraf - Matriculation
Number: 40096834. </p>
</div>
</body>
</html> 
