<!DOCTYPE html"
<head>
<html>
<title></title>
<link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
<div id="logo" class="container">
       <h1><a href="/">JDM Cars</a></h1>
</div>

<div id="menu-wrapper">
        <div id="menu" class="container">
                <ul>  
                      <li><a href="/">Homepage</a></li>
                      <li><a href="{{ url_for('DC2') }}">DC2</a></li>
                      <li><a href="{{ url_for('DC5') }}">DC5</a></li>
                      <li><a href="{{ url_for('Supra') }}">SUPRA</a></li>
                      <li><a href="{{ url_for('S13') }}">S13</a></li>  
                      <li><a href="{{ url_for('S15') }}">S15</a></li>
                      <li><a href="{{ url_for('Chaser') }}">CHASER</a></li>
                      <li><a href="{{ url_for('Map') }}">Map</a></li>
                </ul>
        </div>
</div>
<div id="page" class="container">
        <div id="box1">
         <h2 class="title"><a href="{{ url_for('Supra') }}">Toyota Supra (year 93-02)</a></h2>
         <div style="clear: both;">&nbsp;</div>
         <div class="entry">
             <p>The <strong>Toyota Supra</strong>, is an iconic rear wheel drive car which almost everyone has heard of, wether they are into cars or not. The most memorable one for most people is Paul Walkers car towards the end of the film The Fast and the Furious. The iconic 2JZ engine outputs a power range of around 210-230 BHP depending on the year and model, which may not seem like a lot but the turbo charged engine is highly tunable, and is capable of more than triple the factory horsepower when using the correct supporting modifications.</p> 
             </div>
             </div> 


<div id="carpics" >
  <img src="/static/img/supraone.jpg"/> 
  <img src="/static/img/supratwo.jpg"/> 


<div id="footer" class="container">
<p>&copy; JDM Cars. All rights reserved. Design by Usman Ashraf - Matriculation
Number: 40096834. </p>
</div>
</body>
</html> 
